body {
	/*background-color: orange;*/
	/*background-image:url("../free-background-photos-for-websites-2.jpg");*/
	background-size: 100%;
	font-family: courier
}

.one {
	color:black;
	text-align:center;
}
p{
	color:black;
}

/*.three {
	color:white;
}*/